.title{
  text-align: center;
}


.cards {
 display: flex;
 width: 300px;
 justify-content: space-between;


}
.cardInside {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.images {
  width: 400px;
}

a {
  background-color: white;
  text-decoration: none;
  color: black;
  
  }

  header{
    background-color: #3ec4fc  ;
    text-align: center;
    height: 50px;
    font-size: 40px;
  }

  .imageBeer{
   
    height: 300px;
  }


  .beersCard{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }

  .singleBeer{
    width: 100%;
  }


  @media screen and (min-width: 700px) {
    .singleBeer{
      width: 30%;
    }
  }

  .oneBeer{
    text-align: center;
    
  }
