.title{
  text-align: center;
}


.cards {
 display: flex;
 width: 300px;
 justify-content: space-between;


}
.cardInside {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.images {
  width: 400px;
}

a {
  background-color: white;
  text-decoration: none;
  color: black;
  
  }

  header{
    background-color: #3ec4fc  ;
    text-align: center;
    height: 50px;
    font-size: 40px;
  }

  .imageBeer{
   
    height: 300px;
  }


  .beersCard{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }

  .singleBeer{
    width: 100%;
  }


  @media screen and (min-width: 700px) {
    .singleBeer{
      width: 30%;
    }
  }

  .oneBeer{
    text-align: center;
    
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
  }

  .form input {
    border-radius: 50px;
    border: 1px solid rgb(159, 156, 156);
    height: 30px;
  }
  .button {
    background-color: #3ec4fc;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px;
    font-size: larger;
  }